.container-1-boutique {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: row;
}

.glasses-boutique {
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    height: auto;
  }
.titre-glasses {
  font-size: 50px;
}
.display {
  display: flex; 
  flex-direction: column;
}

.img-boutique-header {
  background-image: url("https://cdn.glitch.global/a37366a2-184f-489c-9974-51317d64021e/Sans_titre%20(2).jpg?v=1675710572265");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

.boutique-container {
  padding: 49px 0 0 0 !important;
}

.title-glasses {
  font-size: 200px;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 10px 20px;
}