.container-us {
    padding-top: 60px;
}

.container-img-us {
    max-width: 100%;
    min-width: 100%;
    height: 65vh;
}

.container-1-img-text {
    background-image: url("https://cdn.glitch.global/b305e357-23b0-4a91-92e9-c5fa249a3654/acceuile-imhg.png?v=1675872096186");
    background-position: center;
    background-position-y: -465px;
}

h1.title-us-2 {
    font-size: 80px;
    color: #fb5629;
    margin: 0;
}

.container-text-1-us {
    position: relative;
    top: 14vh;
    left: 50px;
    max-width: 55%;
}

.container-2-us {
    background-color: var(--primary-color);
    padding: 15px 20px;
}