@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
/* font-family: 'Faster One', cursive; */

* {

  --secondary-font : 'Faster One', cursive;
  --primary-font : monospace;
  --third-font : 'Bakbak One', cursive;
  --black : #434343;
  --white : #fff;
  --primary-color: #6897ad;
  --secondary-color: #c36924;
  --cursor-1: url("https://www.cjoint.com/doc/23_01/MAFmjs27hMc_Plan-de-travail-3-3-.png") 32 15, auto;
  --cursor-2: url("https://cdn.glitch.global/b305e357-23b0-4a91-92e9-c5fa249a3654/Black_cursor.png?v=1675268508538"), pointer;
}


html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
  background-color: var(--white);
  cursor: var(--cursor-1);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

nav a {
  color: #000;
}

.nav-container {
  background-color: var(--white);
  color: #fff;
}

.fs {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.nd-container {
  height: 100vh;
  background-color: var(--black);
  width: 100%;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.no-hover:hover {
  opacity: 100% !important;
  background-color: transparent;
}

nav ul li {
  margin: 0 15px;
  padding: 20px 35px;
  cursor: pointer;
  opacity: 100%;
  transition: all .3s;
  cursor: var(--cursor-2);
  font-weight: 900;
}

nav ul li:hover {
  background-color: var(--secondary-color);
}

nav ul {
  list-style-type: none;
  font-size: 20px;
}
nav ul li.bg {
  padding: 0 15px 0 8px;
  font-size: 28px;
}

.all-screen {
  height: 100vh;
  width: 100%;
}

.container-1 {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: row;
}

a {
  cursor: var(--cursor-2);
}

.logo {
  height: 100%;
}

li.logo {
  padding: 5px 10px;
  height: 62px;
}

.title {
  color: var(--primary-color);
}

.container-2 {
  background-color: var(--secondary-color);
  padding: 80px 69px 30px 69px !important;
}

.container-1, .container-2, .container-all {
  padding: 80px 15px 30px 15px;
}

.container-2-us {
   background-color: var(--primary-color);
}

#left, #right {
  width: 50%;
}

.display {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4.product-name {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  display: inline-block;
  font-size: 25px;
  margin: 0;
}

.slogan {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 58px;
  margin: 0;
}

.container-text {
  padding: 10px 20%;
}

#pics {
  width: 100%;
  height: 100%;
}

.exemple-img {
  height: 380px;
  border-radius: 8px;
  margin-right: -15px;
  position: absolute;
  filter: brightness(155%);
  -webkit-filter: brightness(155%);
}

.glasses-img {
  width: 480px;
  position: relative;
  right: 250px;
  top: 121px;
  rotate: 10deg;
  -webkit-transform: rotate(10deg);
}

.container-1-us {
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  flex-direction: row;
}

.container-2-us {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: row;
}

.img-first-glasses {
  width: 60%;
}

.paragrph-infos {
  font-size: 20px;
  text-align: justify;
}


.display-us {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1.title-us {
  text-transform: uppercase;
  margin: 5px 10px 10px 0;
  color: var(--black);
}

.container-text-us {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 47px;
  height: 100%;
  box-shadow: 3px 3px 20px 5px #0000001a;
}

.vide {
  height: 10%;
}

#right-us {
  width: 65%;
  padding: 5px 5px 5px 15px;
}

#left-us {
  width: 35%;
  padding: 5px 15px 5px 5px;
}

h4.product-name-1 {
  padding: 7px 10px;
  border-radius: 8px;
  background-color: var(--primary-color);
  display: inline-block;
  font-size: 15px;
  margin: 0;
}

.container-4-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.containers-4-index {
  width: 48%;
  height: auto;
  aspect-ratio: 4/3;
  margin: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  cursor: var(--cursor-2);
  border: solid 1px #0000002f;
}

.containers-4-index h3.event-title {
  font-size: 30px;
  text-transform: uppercase;
}

.containers-4-index h3, .containers-4-index h4, .containers-4-index p{
  color: #fff;
}

.containers-4-index p {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

.container-1-index {
  background-image: url(https://quelles-dates.fr/wp-content/uploads/Saint-Valentin.jpg);
}

.container-title-index {
  position: relative;
  background: linear-gradient(0deg, #00000085, transparent);
  padding: 132px 10px 25px 10px;
  width: 100%;
  text-align: center;
}