@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
/* font-family: 'Faster One', cursive; */

* {

  --secondary-font : 'Faster One', cursive;
  --primary-font : 'Bakbak One', cursive;
  --black : #434343;
  --white : #fff;
  --primary-color: #6897ad;
  --secondary-color: #c36924;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
  background-color: var(--white);
}

body {
  cursor: url("https://www.cjoint.com/doc/23_01/MAFmjs27hMc_Plan-de-travail-3-3-.png"), auto;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10000;
}

nav a {
  color: #000;
}

.nav-container {
  background-color: var(--white);
  color: #fff;
}

.fs {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.nd-container {
  height: 100vh;
  background-color: var(--black);
  width: 100%;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-hover {
  
}

.no-hover:hover {
  opacity: 100% !important;
}

nav ul li {
  margin: 0 15px;
  padding: 20px 10px;
  cursor: pointer;
  opacity: 100%;
  transition: all .3s;
}

nav ul li:hover {
  opacity: 70%;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  height: 60px;
}
nav ul li.bg {
  padding: 0 15px 0 8px;
  font-size: 28px;
}

.all-screen {
  height: 100vh;
  width: 100%;
}

.container-1 {
  background-color: var(--primary-color);
}
