@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.container-us {
    padding-top: 60px;
}

.container-img-us {
    max-width: 100%;
    min-width: 100%;
    height: 65vh;
}

.container-1-img-text {
    background-image: url("https://cdn.glitch.global/b305e357-23b0-4a91-92e9-c5fa249a3654/acceuile-imhg.png?v=1675872096186");
    background-position: center;
    background-position-y: -465px;
    background-repeat: no-repeat;
}

h1.title-us-2 {
    font-size: 80px;
    color: #fb5629;
    margin: 0;
}

.container-text-1-us {
    position: relative;
    top: 14vh;
    left: 50px;
    max-width: 65%;
}

.container-2-us {
    background-color: var(--primary-color);
    padding: 15px 20px;
}

.part-2-x-us {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px 10vh 10px;
}

.part-2-1-us {
    flex-direction: row;
}

.part-2-2-us {
    flex-direction: row-reverse;
}

.part-2-3-us {
    flex-direction: row;
}

.part-2-4-us {
    flex-direction: row-reverse;
}

.img-container-us, .text-container-us {
    width: 50%;
    padding: 0 20px;
    max-width: 500px;
    min-height: 370px;
    max-height: 400px;
}

.container-2-2-us {
    background-color: var(--primary-color);
    padding: 75px 20px;
}


.img-container-us {
    background-color: #fff;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101%;
}

.img-container-us

.vide-2-us {
    width: 70px;
}

.text-container-us h3 {
    font-family: monospace;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--white);
}

.text-container-us h2 {
    font-size: 48px;
    font-weight: 600;
}

.text-container-us p {
    font-size: 20px;
    text-align: justify;
}

@media screen and (max-width: 1131px){
    .part-2-1-us, .part-2-2-us, .part-2-3-us, .part-2-4-us {
        flex-direction: column;
    }

    .text-container-us {
        margin-bottom: 25px;
    }

    .img-container-us, .text-container-us {
        width: 90%;
        max-width: 95%;
    }
}

.social-media-container {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.social-media-container ul li {
    list-style-type: none;
    margin: 20px;
    font-size: 40px;
}

.hz {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.separator {
    width: 90%;
    height: 0;
    border: solid 2px #000;
    border-radius: 8px;
    margin: 15px 0;
}